@model PlaystationGamer2.Models.Console

@{ 
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>Console</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsoleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsoleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearReleased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearReleased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsSold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>