@model IEnumerable<PlaystationGamer2.Models.Console>

@{ 
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Consoles</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearReleased)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modellItem => item.UnitsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearReleased)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ConsoleId">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>